
#maze td {
    width: 10px;
    height: 10px;
}
.r-display {
    border-right: 1px solid black;
}
.b-display {
    border-bottom: 1px solid black;
}
.t-display {
    border-top: 1px solid black;
}
.l-display {
    border-left: 1px solid black;
}
#maze{
    border-collapse: collapse;
    margin: 26px auto;

}
h1 {
    color: black; 
    font-size: 10em; /* Fallback: assume this color ON TOP of image */
    background: url(../img/maze.JPG)  center no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    width: fit-content;
    text-shadow: 1px 1px 1px #d3d3d35c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000d0;
}
.size{
    width: fit-content;
    margin: 0 auto;
}
.size span{
    font-size: 1.2em;
    margin: 10px;
}